<f:layout name="Login" />
<f:section name="main">
<div class="container">
<div id="loginbox" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <div class="panel panel-info" >
        <div class="panel-heading">
            <div class="panel-title">
                <f:translate key="passwordchangeform">Change Password
                </f:translate> 
            </div>
        </div>
        <f:if condition="{changepassword}">
            <f:then>
                <f:if condition="{msgArray}">
                    <div class="typo3-messages">
                        <div class="typo3-message message-error">
                            <div class="message-body">
                            {msgArray} 
                            </div>
                        </div>
                    </div>
                </f:if>
                <div class="panel-body" >
                    <f:form id="changepasswordform" class="form-horizontal" name="passwordchange_form" action="changepassword">

                    <f:form.hidden name="userid" value="{uid}" />
                    <div class="input-group">
                        <label> Enter Password</label>
                        <f:form.password id="change-password1" class="form-control" name="password1" value="" />         
                    </div>
                    <div class="input-group">
                        <label> Repeat Password</label>
                        <f:form.password id="change-password2" class="form-control" name="password2" />
                    </div>
                    <div class="form-group" style="padding: 0 15px;">
                        <f:flashMessages renderMode="div" />
                    </div>
                    <div class="form-group">
                        <div class="col-sm-7 controls col-md-offset-5">
                            <f:form.button name="changepasswordsubmit" id="btn-login" class="btn btn-success">
                                <f:translate key="passwordchange">Change Password
                                </f:translate>
                            </f:form.button>
                        </div>
                    </div>
                    </f:form>
                </div>
            </f:then>
        </f:if>

        <f:if condition="{msgsuccess}">
        <f:then>
            <div class="panel-body" >
                <f:translate key="change_password_done_message">
                </f:translate> 
                <div class="col-sm-12 controls col-md-offset-3">
                    <f:link.action action="login" class="btn btn-info"><span><i class="fa fa-angle-left"></i></span> Back to Login</f:link.action>
                </div>
            </div>
        </f:then>
        </f:if>
    </div>
 </div>
</div>
</f:section>