<f:layout name="Login" />

<f:section name="main">
<style type="text/css">
   div#clockwork_felogin .typo3-messages {
       float: left;
       position: relative;
       clear: both;
   }
</style>
<div class="container">
   <div id="loginbox" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
      <div class="panel panel-info" >
         <div class="panel-heading">
            <div class="panel-title"><f:translate key="otp_confirmm_title">Confirm OTP</f:translate></div>
            <!-- <div style="float:right; font-size: 80%; position: relative; top:-10px"><a href="#"><f:translate key="forgot_password_label">Forgot password?</f:translate></a></div> -->
         </div>
         <div style="padding-top:30px" class="panel-body" >
            <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
            <f:form id="loginform" class="form-horizontal" name="login_form" action="confirmotp">
               <div style="margin-bottom: 25px" class="input-group">
                  <span class="help-text"><f:translate key="otp_enter_help">Enter Your OTP received with ID : </f:translate>{otp_id}</span>
                     <f:form.textfield id="login-otp" type="text" class="form-control" name="otp" value="" placeholder="Enter OTP" />                                        
               </div>
               <div class="form-group" style="padding: 0 15px;">
                  <f:flashMessages renderMode="div" />
               </div>
               <div style="padding:15px 0 15px 0;clear:left;" class="form-group">
                  <!-- Button -->
                  <div class="col-sm-12 controls">
                     <f:form.button name="otpsubmit" id="btn-login" class="btn btn-success"><f:translate key="submit_password_label">Submit</f:translate></f:form.button>
                  </div>
               </div>
            </f:form>
         </div>
      </div>
   </div>
</div>
</f:section>