<f:layout name="Login" />
<f:section name="main">
<div class="container">
   <div id="loginbox" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
      <div class="panel panel-info" >
         <div class="panel-heading">
            <div class="panel-title">
               <f:translate key="forgot_password_page_title">Forgot Password?</f:translate> 
            </div>
         </div>
         <f:if condition="{msgArray}">
         <f:then>
             <div class="panel-heading">
                 <div class="panel-title">
                   <f:translate key="forgot_password">Forgot Password?
                </f:translate> 
                 </div>
              </div>

            <div class="col-sm-12 controls col-md-offset-3">
                     <f:link.action action="login" class="btn btn-info"><span><i class="fa fa-angle-left"></i></span> Back to Login</f:link.action>
            </div>
         </f:then>
         <f:else>
             <div class="panel-heading">
               <div class="panel-title">
                  <f:translate key="forgot_password_page_title">Forgot Password?</f:translate> 
               </div>
             </div>
         <div class="panel-body" >
            <f:form id="loginform" class="form-horizontal" name="login_form" action="forgotpassword">
               	<div class="input-group">
                     <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                  	<f:form.textfield id="login-username" type="text" class="form-control" name="username" value="" placeholder="Username/Email" />                                        
               	</div>
               <div class="form-group" style="padding: 0 15px;">
                  <f:flashMessages renderMode="div" />
               </div>
               <div class="form-group">
               	<div class="col-sm-12 controls col-md-offset-3">
                     <f:link.action action="login" class="btn btn-info"><span><i class="fa fa-angle-left"></i></span> Back to Login</f:link.action>
                     <f:form.hidden name="forgot_hash" value="{forgot_hash}" />
   						<f:form.button name="forgotpassword" id="btn-login" class="btn btn-success">
                        <f:translate key="submit_password_label">Submit</f:translate>
                     </f:form.button>
   					</div>
               </div>
            </f:form>
         </div>
      </f:else>
      <f:if>
      </div>
   </div>
</div>
</f:section>