<f:layout name="Login" />
<f:section name="main">
<div class="container">
   <div id="loginbox" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
      <div class="panel panel-info" >
         <div class="panel-heading">
            <div class="panel-title">
               <f:translate key="login_panel_title">SignIn</f:translate> 
            </div>
            <f:if condition="{settings.showForgot}">
                <f:then>
                    <div class="pull-right forgot_pass_text">
                        <f:link.action action="forgotpassword">
                            <f:translate key="forgot_password_label">Forgot password?</f:translate>
                        </f:link.action>
                        </a>
                    </div>
                </f:then>
            </f:if>
         </div>
         <div class="panel-body" >
            <f:form id="loginform" class="form-horizontal" name="login_form" action="login">
            	<div class="input-group">
                	<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
               	<f:form.textfield id="login-username" type="text" class="form-control" name="username" value="" placeholder="Username/Email" />                                        
            	</div>
              	<div class="input-group">
                  	<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                  	<f:form.password id="login-password" class="form-control" name="password" />
            	</div>
               <div class="form-group" style="padding: 0 15px;">
                  <f:flashMessages renderMode="div" />
               </div>
               <div class="form-group">
               	<div class="col-sm-7 controls col-md-offset-5">
   						<f:form.button name="submit" id="btn-login" class="btn btn-success">
                        <f:translate key="login_label">Login</f:translate>
                     </f:form.button>
   					</div>
               </div>
            </f:form>
         </div>
      </div>
   </div>
</div>
</f:section>